
/* Body */
body {
	background: #E8E4E4;
}
/* Jumbo */
.jumbotron {

}
/* Divider */
.divider {
	margin: 5rem;
}

/* about row */
.about-row {
	margin-top: 4rem;
}
/* skills row */
.skill-row {

}
/* specialties row */
.specialties-row h2{
    width: 100%;
    text-align:  center;
    padding-bottom:  10px;
    font-weight: bold;

}
.col-md-4 ul{
	/*list-style: none;*/
/*	font-weight: bold;*/
}

/* Foooter */
.back-to-top {
	text-align: center;
}